* {     
    box-sizing: border-box;
    
    padding: 0;
    margin: 0;
    
}

body {
    min-height: 100vh;
    background: url(../img/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

}

.wrapper {
    width: 1024px;
    margin: auto;
}

.link {
    display: block;
}

.semicircle-link {
    position: relative;
    float: left;
    width: 75px;
    height: 150px;
    border-radius: 100% 0 0 100% / 50% 0 0 50%;
    text-align: center;
    opacity: 0.4;
    text-decoration: none;
    background-color: #38afe5;
    
}

.semicircle-link:hover {
    opacity: 1.0;
}

.circle-link {
    position: relative;
    
    float: left;
    width: 75px;
    height: 150px;
    border-radius: 0 100% 100% 0 / 0 50% 50% 0;
    text-align: center;
    opacity: 0.4;
    text-decoration: none;
    background-color: #38afe5
}

.circle-link:hover {
    opacity: 1.0;
}

.semicircle-link::before {
    
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    content: "\2190";
    font-size: 50px;
    color: #ffffff;
}

.circle-link::after {
    
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    content: "\2192";
    font-size: 50px;
    color: #ffffff;
}