* {     
    box-sizing: border-box;
    
    padding: 0;
    margin: 0;
    
}

body {
    min-height: 100vh;
    background: url(../img/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

}

.wrapper {
    width: 1024px;
    margin: auto;
}

nav {
    position: relative;
}

.page-header {
    padding-top: 104px;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 126px;
    
}

.home-page {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: inline-block;
    
    
    height: 138px;
    width: 138px;
    
    border-radius: 50%;
    background-color: #ffffff;
    
    display: block;
    text-decoration: none;
    text-align: center;
    line-height: 138px;
    font-size: 60px;
    font-family: Dorsa, Regular Arial, sans-serif;
    text-transform: uppercase;
    color: #263555;
    
}


.menu {
    
    width: 100%;
    list-style: none;
    text-transform: uppercase;
    font-size: 28px;
    font-family: Pathway Gothic One;
    
    
   

}

.menu-item {
    
    
    float: left;
    margin-right: 30px;
    margin-left: 30px;
   
    
}

.menu-item:first-child {
    margin-left: 0;
}
.menu-item:nth-child(3) {
     margin-right: 200px;
}

.menu-item:last-child {
    margin: 0;
}

.menu-item >a {
    
    text-decoration: none;
    color: #ffffff;

    
}

.menu-item >a:hover {
    color: #263555;
}




.clearfix::after {
    display: block;
    content: '';
    clear: both;
}
