.gallery-header {
    text-transform: uppercase;
    font-size: 32px;
    font-family: 'Pathway Gothic One', sans-serif;
    color: #263555;
    line-height: 4;
    
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
}

.item { 
    position: relative;
    height: 164px;
    width: 32%;
    margin-bottom: 2.5em;
    
}

.item:nth-of-type(n+7) {
    margin-bottom: 0;
}

.gallery-item {
    height: 100%;
    width: 100%;
}

.zoom {
    position: absolute;
    top: 0;
    display: block;
    height: 100%;
    width: 100%;
    background-color: #000000;
    filter: opacity(.4);
}

.zoom-icon {
    width: 33px;
    height: 33px;
    background: url('css_sprites.png') -130px -10px;
    
}

