.page-footer {
    box-shadow: 0 0 20px rgba(0,0,0,0.7)
}

.footer-items {
    display: flex;
    background-color: #263555;
}

.list {
    width: 70%;
    text-align: center;
    padding: 1.25rem;
    background-color: #263555;
    list-style: none;
    column-count: 5;
 
    
}

.list-item {
    font-size: 0.75rem;
    text-transform: uppercase;
    color: #d6dade ;
    font-family: 'Open Sans', sans-serif;
}

.list-link {
    text-decoration: none;
    font-size: 0.75rem;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Open Sans', sans-seri
}

.contact {
    padding: 20px;
    font-size: 0.75rem;
    
    color: #d6dade ;
    font-family: 'Open Sans', sans-serif;
}

.icon-links {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.icon-link {
    display: block;
   
}

.bg-fb {
    width: 32px; height: 32px;
    background: url('../img/css_sprites.png') -62px -10px;
}


.bg-g {
    width: 32px; height: 32px;
    background: url('../img/css_sprites.png') -114px -10px;
}


.bg-in {
    width: 32px; height: 32px;
    background: url('../img/css_sprites.png') -62px -62px;
}


.bg-tw {
    width: 32px; height: 32px;
    background: url('../img/css_sprites.png') -10px -62px;
}