@media (min-width: 1024px) {
    .wrapper {
        max-width: 64rem;
    }
    /*  */
    nav {
        position: relative;
    }

    .page-header {
        padding: 6.5rem 6.25rem 6.25rem 6.25rem;
    }

    .home-page {
        position: absolute;
        left: 50%;
        top: 18%;
        transform: translate(-50%, -50%);

        height: 8.375rem;
        width: 8.375rem;

        line-height: 8.625rem;
        font-size: 4.75rem;

    }

    .menu {
        display: block;
        margin-bottom: 5rem;
        height: 0;

    }

    .menu-item {
        position: relative;
        float: left;
        margin-right: 3.25rem;

        font-size: 1.75rem;
    }

    .menu-item:nth-child(3) {
        margin-right: 16.25rem;
   }
   .menu-item:last-child {
    margin: 0;
    }   

   

    .submenu {
        top: 2.5rem;
        left: -0.3125rem; 
    }

    /* CONTENT */
    .item {
        flex-basis: 32%;
    }

    .item:last-child {
        display: block;
    }

    /* FOOTER */


    .footer-items {
        display: flex;
    }

    .footer-list {
        flex-basis: 70%;   
    }

    .list {
        padding: 1.25rem 0rem;
        justify-content: space-between;
    }

    .list-item {
        
    }

    .contacts {
        display: block;
        flex-basis: 30%;
        padding-top: 1rem;
    }

    .contact {
        padding: 0;
    }

}
