* {
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
    
}

.wrapper {
    height: 500px;
    width: 900px;
    margin: auto;
    padding-top: 0px;
    background-color: #88A0A8
} 

.main {
    float: left;
    width: 300px;
    height: 300px;
    background-color: #333;
    
}

.aside {
    float: left;
    width: 300px;
    height: 300px;
    background-color: #B02E0C;
}
