@media (min-width: 768px) {

    .wrapper {
        min-width: 48rem;
    }

    .page-header {
        padding: 1.5rem 8.5rem 1.5rem 8.5rem;
    }

    .submenu {
        left: 45%;
    }
    
    .gallery .row [class*="col-"]:nth-child(n+7) {
        padding-bottom: 0;
    }

    .gallery .row [class*="col-"]:last-child {
        display: none;
    }
    

   .last:last-child {
       display: none;
   }

    
}