@media (min-width: 768px) {

    .wrapper {
        min-width: 48rem;
    }

    .page-header {
        padding: 1.5rem 8.5rem 1.5rem 8.5rem;
    }

    .submenu {
        left: 44%;
    }
    

    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .item {
        flex-basis: 49%;
    }

    .item:last-child {
        display: none;
    }

    .contacts {
        padding: 0rem 8rem;
    }
}