* {
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
    
}

body {
    
    background: url(../img/bg.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

.wrapper {
    width: 1024px;
    margin: auto;
    
    margin-top: 230px;
    background: #ffffff;

    
    
} 

.first-content {
    padding: 118px 60px 54px 60px;
}

.second-content {
    padding-right: 60px;
    padding-bottom: 54px;
    padding-left: 60px;
    margin-bottom: 88px;
}

.head {
    
    text-transform: uppercase;
    color: #263555;
    font-size: 32px;
    font-family: Gill Sans MT Condensed;
    
    margin-bottom: 50px;
}

.clearfix::after {
    display: block;
    content: '';
    clear: both;
}

.line {
    border: none;
    background-color: #dedbdb;
    height: 1px;
    margin-bottom: 58px;
}

.footer {
    width: 100%;
    height: 200px;
    background: #30455b;
}

.clearfix::after {
    display: block;
    content: '';
    clear: both;
}