/* ----------------Contacts-------------- */
.page-flex {
    display: flex;
    justify-content: space-between;
}

.tables {
    margin-top: 3.5rem;
    flex-basis: 20%;

}

.table {

    width: 100%;
    margin-bottom: 2rem;
    
}



.capt {
    width: 70%;
    font-size: 0.8rem;
    text-align: left;
    color: #263555;
    font-family: Patua One;
    margin-bottom: 0.6rem;
}

.contact-row {
    
    

    font-size: 0.8rem;
    color: #707070


    
}



.contact-row a {
    text-decoration: none;
    color: #263555;
}


.contact-row a:hover {
    text-decoration: underline;
}



/*------------------INPUT--------------------*/

.header {
    color: #263555;
    text-transform: uppercase;
    font-size: 2rem;
    font-family: Pathway Gothic One;
    margin-bottom: 20px;
}

.inputs {
    flex-basis: 20%; 
   
}


.input {
    width: 100%;
    margin-bottom: 1rem;
    padding: 5px;
    color: #263555;
    border: 1px solid #d4d0d0;
    background-color: #fcfafa;
    
}

::-webkit-input-placeholder {
    color: #263555;
    font-family:  'Patua One', cursive;
    text-transform: uppercase;
}

.input-text {
    resize: none;
}
.btns {
    display: flex;
    
    justify-content: flex-end;
    
}

.btn {
    border-radius: 5px;
    padding: 0.3rem;
    width: 6rem;
    font-family:  'Patua One', cursive;
    color: #263555;
    border: 1px solid #d4d0d0;
    background-color: #fcfafa;
}

.clear {
    margin-right: 0.5rem;
}


::-webkit-input-placeholder {
    color: #263555;
}